html {
    scroll-behavior: smooth;
}
.container {
    position: relative;
}
.container div {
    height: 500px;
}
.scroll-up,
.scroll-up:link,
.scroll-up:visited {
    display: block;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    background-color: #0075ff;
    float: right;

}